
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container">
    <h3>Giỏ hàng</h3>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:20px">ID</th>
                        <th style="width:100px">Iamge</th>
                        <th >Tên sản phẩm</th>
                        <th >Số lượng</th>
                        <th>Giá bán</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="~/Public/img/sp11.jpg" class="img-fluid" /></td>
                        <td>Giày Nike</td>
                        <td><input name=" Sp" value="1" min="0" step="1" type="number" class="form-control" style="width:100px" /></td>
                        <td>200.000</td>
                        <td>200.000</td>
                        <td><i class="far fa-times-circle"></i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="~/Public/img/sp11.jpg" class="img-fluid" /></td>
                        <td>Giày Nike</td>
                        <td><input name=" Sp" value="1" min="0" step="1" type="number" class="form-control" style="width:100px" /></td>
                        <td>2.000.000</td>
                        <td>2.000.000</td>
                        <td><i class="far fa-times-circle"></i></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a href="#" class="btn btn-info">Mua thêm sản phẩm</a>
                        </td>
                        <td colspan="4" class="text-center">
                            <button class="btn btn-info">Xóa</button>
                            <button class="btn btn-info">Cập nhật</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">THÔNG TIN ĐƠN HÀNG</h3>
            <p>Số sản phẩm:5sp</p>
            <p>Tổng tiền:10.000.000 VNĐ</p>
            <p>Phí vận chuyển: 30K(Ngoài TP.HCM)</p>
            <p>Số tiền thanh toán:          VNĐ </p>
            <a href="#" class="btn btn-info">THANH TOÁN</a>
        </div>

    </div>
    
</div>

