
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 my-5">
            <div class="card bg-info" style="width: 100%;">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        DANH MỤC SẢN PHẨM
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Giày Nike </a>
                    <a href="#" class="list-group-item list-group-item-action"> Giày Adidas</a>
                    <a href="#" class="list-group-item list-group-item-action"> Giày Vans</a>
                    <a href="#" class="list-group-item list-group-item-action"> Giày Puma</a>
                    <a href="#" class="list-group-item list-group-item-action"> Giày Bitis</a>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="text-center my-3">TẤT CẢ SẢN PHẨM</h3>
            <div class="row">
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="~/Public/img/sp11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Giày</h5>
                            <h5>Giá:2.500.000 VNĐ</h5>
                            <a href="#" class="btn btn-primary">Đặt mua</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
